---
layout: default
---
<h1> A Little About My Life </h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  Hello! Thank you for visiting my website. To tell you a little bit about myself I have a decent sized family, 3 siblings (1 brother, 2 sisters) and a puppy named Riley and a cat named Nalah. My sister's names are Jessica and Kennedy and my brother's name is Justin. I am the youngest sibling. After receiving my bacehlor's degree from Alma College I plan on going onto to medical school and pursuing a career in orthopedic surgery.
</div>
